<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example Django Form!</title>
  </head>
  <body>
    {% if person %}
      <h1>Hello {{ person.name }}</h1>
      <h2>You are {% if person.awesome %}AWESOME{% else %}totes lame{% endif %}</h2>
    {% endif %}

    <form method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Say Hello">
    </form>

    <h3>People</h3>
    <ul>
      {% for p in people %}
        <li>
          {{ p }}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
